@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

* , body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
  }

.text-justify {
    text-align: justify;
}

.card img {
    height: 10rem;
}

.card {
    height: 30rem;
}

.navbar-brand img {
    height: 1.8rem;
    width: 1.8rem;
}
